h1 {
  color: #8a9bab;
  font-family: I Love Glitter;
  font-size: 30px;
  text-align:center;
}
p {
  color: #99e6ff;
  margin: auto;
  width:500px;
}
h2 {
  color; #8a9bab;
  font-family:cursive;
  font-size: 25px;
  margin:auto;
  width:150px;
}
h3 {
  color: #8a9bab;
  font-family:cursive;
  font-size: 25px;
  margin: auto;
  width:150px;
}
